*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}